{% extends 'task/base.html' %}
{% load static %}
   
{% block css %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<link rel="stylesheet" href="{% static 'index.css' %}">
{% endblock %}

{% block content %}
<div id="container">
    <main>
        
        <div id="task-list">
            {% for task in task_list %}    
                <div class="task-item" draggable="true" id="task{{ task.order }}">
                    <div class="task-item-name"><a class="task-link" href="{% url 'task:task' task.id %}"><p>{{ task.name }}</p></div></a>
                    <div class="task-item-done"><a href=""><i class="ri-check-line"></i></a></div>
                    <div class="task-item-delete"><a href=""><i class="ri-delete-bin-6-line"></i></a></div>
                </div>
            {% endfor %}

            <div class="task-item-add">
                <a href="{% url 'task:task_creation' %}">
                    <i class="ri-add-large-line"></i>
                    <p>Добавить задачу</p>
                </a> 
            </div>
        </div> 

    </main>
    <aside>
        <div class="calendar-wrapper">
            <h2>Запланированные дедлайны</h2>
            <button id="btnPrev" type="button">Предыдущий</button>
            <button id="btnNext" type="button">Следующий</button>
        <div id="divCal"></div>
        
        </div>
            <div id="chartContainer">
            <h2>Мои категории</h2>
            <br>
            <canvas id="chart"></canvas>
        </div>
    </aside>
</div>

<script>
    chart_data = JSON.parse('{{ chart_data|escapejs }}');
    calendar_data = JSON.parse('{{ calendar_data|escapejs }}')
</script>
<script src="{% static 'js/calendar.js' %}"></script>
<script src="{% static 'js/doughnut_chart.js' %}"></script>

{% endblock %}
